#//////////////////////////
# Build Config file
#//////////////////////////
.build-config


#//////////////////////////
# JSB Auto Bind Env Config file
#//////////////////////////
jsb-auto-bind-env-config.yaml